.popup-welcome {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.popup-inner-welcome {
  position: relative;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 2px 10px #999;
}

.close-btn-welcome {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #0f394b;
  color: white;
  font-size: 25px;
  border: none;
}

.close-btn-welcome:hover {
  background-color: #1a6680;
  cursor: pointer;
}

.popup-image-welcome {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

/* <div className="popup-inner">
          <button className="close-btn" onClick={() => props.setTrigger(false)}>
            X
          </button>
          <div className="popup-header">
            <div className="image-wrapper">
              <img src={drink.strDrinkThumb} className="popup-image"></img>
            </div>
            <div className="list-wrapper">
              <h3>Ingredients: </h3>
              <ul>
                {ingredients.map((elem) => (
                  <li className="ingredients list">{elem}</li>
                ))}
              </ul>
              <h3>Measures: </h3>
              <ol>
                {measures.map((elem) => (
                  <li className="measures list">{elem}</li>
                ))}
              </ol>
            </div>
          </div>
          <div className="popup-footer">
            <h3>Instructions:</h3>
            <p>{drink.strInstructions}</p>
          </div>
        </div> */
